<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Oscar Ramirez</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/line.css">
  <link rel="stylesheet" href="css/ubicacion.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- Leaflet OpenStreetMap-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">

</head>

<body>

  <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><i class='uil uil-user'></i> OscarGRG</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="Sobre Mi">Sobre Mi</span></a>
          </li>
          <!--<li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>-->
          <li class="nav-item">
            <a href="#experiencia" class="nav-link"><span data-hover="Experiencias">Experiencias</span></a>
          </li>

          <li class="nav-item">
            <a href="#educacion" class="nav-link"><span data-hover="Educación">Educación</span></a>
          </li>

          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contacto">Contacto</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
            <div class="color-mode d-lg-flex justify-content-center align-items-center">
              <i class="color-mode-icon"></i>
              Cambiar Color
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ABOUT -->
  <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
      <div class="row">

        <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
          <div class="about-text">
            <small class="small-text">¡Bienvenido al <span class="mobile-block">sitio web de mi
                portafolio!</span></small>
            <h1 class="animated animated-text">
              <span class="mr-2">Hola amigos, soy</span>
              <div class="animated-info">
                <span class="animated-item">Oscar Ramirez</span>
                <span class="animated-item">Web Designer</span>
                <span class="animated-item">Dev Backend</span>
              </div>
            </h1>

            <p>Construir un producto exitoso es un desafío. Soy muy enérgico en el diseño de experiencia de usuario,
              interfaces y desarrollo web.</p>

            <div class="custom-btn-group mt-4">
              <a href="pdf/Curriculum_Vitae-Oscar_Ramirez.pdf" target="_blank" class="btn mr-lg-2 custom-btn"><i
                  class='uil uil-file-alt'></i> Descargar CV</a>
              <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Contactame</a>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-12">
          <div class="about-image svg">
            <img src="img/undraw/men-dev.svg" class="img-fluid" alt="svg image">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <!--<section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Things I have designed for digital media agencies</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="img/project/project-image01.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="img/project/project-image02.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="img/project/project-image03.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="img/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="img/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>-->

  <!-- FEATURES -->
  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="experiencia">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <h2 class="mb-4">Experiencias</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2023-24</span>
              </div>
              <div class="timeline-info">
                <h3><span>Analista de Datos y Desarrollo Backend</span></h3>
                <p>
                <ul style="color: #5b5b5b;">
                  <li>* Desarrollo de sistemas en Node.js y Express.js</li>
                  <li>* Desarrollo de apis Azure Function en Python y C#</li>
                  <li>* Desarrollo de aplicaciones de escritorio en python</li>
                  <li>* Desarrollo de backend en Python, Flask y Django</li>
                </ul>
                </p>
              </div>
            </div>

            <div class="timeline">
              <div class="timeline-wrapper">
                <div class="timeline-yr">
                  <span>2021</span>
                </div>
                <div class="timeline-info">
                  <h3><span>Freelancer & Web Desing</span><small>Durante Pandemia!</small></h3>
                  <p>Desarrollador Web. Diseño de WebApps. Despliegue de Páginas Webs. Desarrollo Backend y frondend.
                  </p>
                </div>
              </div>

              <div class="timeline-wrapper">
                <div class="timeline-yr">
                  <span>2020</span>
                </div>
                <div class="timeline-info">
                  <h3><span>TI Independiente</span><small>Durante Pandemia!</small></h3>
                  <p>Reparación de Celulares. Reparación de Notebooks. Instalación de software y sistemas de
                    operativos. Montaje de equipos de sobremesa.</p>
                </div>
              </div>

              <div class="timeline-wrapper">
                <div class="timeline-yr">
                  <span>2019</span>
                </div>
                <div class="timeline-info">
                  <h3><span>Auxiliar de Electrica - Fluxo Industrial</h3>
                  <p>Montaje de Circuitos eléctricos. Auxiliar de Mantenimiento de equipos eléctricos.</p>
                </div>
              </div>

              <div class="timeline-wrapper">
                <div class="timeline-yr">
                  <span>2018</span>
                </div>
                <div class="timeline-info">
                  <h3><span>Dev en Mi LAB GDG CDE</span><small>Pasante</small></h3>
                  <p>Desarrollador Backend - NodeJS. Desarrollor de servidores web para microempreas.</p>
                </div>
              </div>

            </div>
          </div>
  </section>

  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="educacion">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-4 mobile-mt-2">Educación</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2022-24</span>
              </div>
              <div class="timeline-info">
                <h3><span>Universidad Privada del Este UPE</span></h3>
                <p>Actualmente cursando la carrera de Ingenieria en informatica.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2021</span>
              </div>
              <div class="timeline-info">
                <h3><span>Certificacion en Oracle Data Science</span></h3>
                <p>Curso y certificacion en analisis de datos y desarrollo de estructuras en datos para OracleSQL y
                  PostgreSQl</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2018-20</span>
              </div>
              <div class="timeline-info">
                <h3><span>Colegio Nacional E.M.D. Profe.: Atanasio Riera - Área 1</span></h3>
                <p>Bachillerato técnico en informática 2018 - 2020.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2009-17</span>
              </div>
              <div class="timeline-info">
                <h3><span>Escuela Básica Nº. 1632 Augusto Roa Bastos - Área 1</span></h3>
                <p>
                <ul style="color: #5b5b5b;">
                  <li>* Primer Ciclo (Primer, Segundo y Tercer Grado) 2009 - 2011.</li>
                  <li>* Segundo Ciclo (Cuarto, Quinto y Sexto Grado) 2012 - 2014.</li>
                  <li>* Tercer Ciclo (Séptimo, Octavo y Noveno Grado) 2015 - 2017.</li>
                </ul>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="google-map">
            <div id="myMap"></div>
          </div>

          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
            <div class="contact-info-item">
              <h3 class="mb-3 text-white">Di hola...!</h3>
              <p class="footer-text mb-0"><i class="uil uil-phone"></i> +595 (0983) 823080</p>
              <p><a href="mailto:oscar.py@outlook.com"><i class="uil uil-envelope"></i> oscar.py@outlook.com</a></p>
            </div>

            <ul class="social-links">
              <li><a href="https://www.facebook.com/oscar.ramirezgonzalez.172/" target="_blank" class="uil uil-facebook"
                  data-toggle="tooltip" data-placement="left" title="Facebook"></a>
              </li>
              <li><a href="https://wa.link/h524mr" class="uil uil-whatsapp" target="_blank" data-toggle="tooltip"
                  data-placement="left" title="WhatsApp"></a>
              </li>
              <li><a href="https://github.com/OscarGRG14" class="uil uil-github" target="_blank" data-toggle="tooltip"
                  data-placement="left" title="GitHub"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h2 class="mb-4">¿Interesado en trabajar juntos? Hablemos</h2>

            <form action="/send-email" method="post">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <input type="text" class="form-control" name="nombre" placeholder="Tu Nombre" id="name">
                </div>

                <div class="col-lg-6 col-12">
                  <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                </div>

                <div class="col-12">
                  <textarea name="mensaje" rows="6" class="form-control" id="message" placeholder="Mensaje"></textarea>
                </div>

                <div class="ml-lg-auto col-lg-5 col-12">
                  <input type="submit" class="form-control submit-btn" value="Enviar!">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <p class="copyright-text text-center">Copyright &copy; 2024 Fluxo Web . All rights reserved</p>
          <p class="copyright-text text-center">Diseñado por <a rel="nofollow" href="https://fluxoweb.net/">Fluxo
              Web</a>
          </p>
        </div>

      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Headroom.js"></script>
  <script src="js/jQuery.headroom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/map.js"></script>

</body>

</html>